body {
    background: linear-gradient(45deg, #a2d0ff, #ffffff);
    color: #000;
    font-family: "Microsoft YaHei", sans-serif;
    padding: 40px;
}

.container {
    max-width: 800px;
    margin: auto;
}

img.img {
    width: 100%;
    border-radius: 12px;
    margin: 20px 0;
}
